.detalle-pokemon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  justify-content: center;
  column-gap: 4rem;
}

.imagen-detalle {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.informacion-detalle {
  display: flex;
  flex-direction: column;
  align-items: start;
}
